<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<button type = 'button'>
					<i class="fa fa-bars"></i>
					<span>sections</span>
				</button>
			</li>
			<li id="search-modal-btn">
				<button type = 'button'>
					<i class="fa fa-search"></i>
					<span>search</span>
				</button>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li id = 'subscribe'>
				<button type = 'button'>susbcribe!</button>
			</li>
			<li id = 'log in'>
				<button type = 'button'>log in!</button>
			</li>
			<li id = "gear-dropdown-btn">
				<i class = 'fa fa-cog'></i>
				<%= render partial: 'shared/gear_dropdown' %>
			</li>
		</ul>
	</nav>

</header>
