.masthead {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 2px solid black;
	position: relative;
}

.language-nav {
	position: absolute;
	left: calc(50% - (177.78px/2));
	justify-content: center;
	background: white;
	border: 1px solid $dark-gray;
	border-bottom: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.language-nav a {
	margin: 0 5px;
	text-transform: uppercase;
	font-family: $sans-serif;
	font-size: 10px;
	color: $dark-gray;
}

.language-nav ul {
	display: flex;
	align-items: center;
	justify-content: center;
	border-style: solid;
	width: 100%;

}

.language-nav ul li {
	padding: 5px;
	border-color: $light-gray;
	border-right-width: 1px;
	border-right-style: solid;
	font-family: $sans-serif;
	color: $dark-gray;
	text-transform: uppercase;
}

.language-nav ul > :first-child {
	font-weight: bold;
}

.logo {
	justify-content: center;
	max-width: 400px;
	margin-top: 10px;
	padding-top: 20px;
}

.masthead-links, .masthead-links ul {
	display: flex;
	font-family: $sans-serif;
	font-size: 11px;
	margin-top: 10px;
	margin-bottom: 10px;
	justify-content: center;
}

.masthead-links li {
	margin-left: 10px;
	border-right: 1px solid $light-gray;
	padding-right: 9px;
}

.masthead-links button {
	background: none;
	padding: 0px;
	color: #000;
	font-weight: normal;
	border: none;
}

.masthead-links button:hover {
	background-color: $lightest-gray;
}

.masthead-links a,
.masthead-links button,
.masthead-links time {
	margin-right: 10px;
}

.masthead-links i {
	margin-right: 5px;
}

.masthead-links strong {
	color: green;
}
